<h1>Bienvenidos a Comisión 58070 multer</h1>

<form action="/views/subirarch" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" placeholder="suba un archivo">
    <button>Enviar</button>
</form>